/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mokoto';
    src: url('font/mokoto-regular-400.otf') format('onetype'),
    url('font/mokoto-regular-400.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Container ocupa toda a tela */
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

/* Content centralizado com bordas brancas */
.content {
    width: 60%; /* Pode ajustar a largura conforme necessário */
    height: 80%;
    border-radius: 10px; /* Bordas arredondadas, opcional */
}

/* Cards organizados em duas colunas */
.cards {
    display: flex;
    gap: 20px;
    height: 100%; /* Ocupa 100% da altura do content */
}

/* Left-cards ocupando 70% da largura */
.left-cards {
    flex-basis: 70%; /* Define a largura em 70% */
    height: 100%; /* Ocupa toda a altura disponível */
    display: flex;
    flex-direction: column;
    gap: 20px;

    .left-superior-card {
        width: 100%;
        height: 60%;
        display: flex;
        gap: 20px;
    
        .card-lf {
            width: 40%;
            

            .card-cracha {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                position: relative;
                width: auto;
                height: 100%;
                border-radius: 10px;
                background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(15px);
                box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
            }
            
            .img-bx {
                position: absolute;
                width: 100%;
                height: 100%;
                transform: translateY(30px) scale(0.6);
                transform-origin: top;
                box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
            }
            
            .img-bx img {
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .content-cracha {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 30px;
            }
            
            .content-cracha .detail {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }
            
            .content-cracha .detail h2 {
                color: #faf7f7;
                font-size: 1.6em;
                font-weight: bolder;
            }
            
            .content-cracha .detail h2 span {
                font-size: 0.7em;
                color: #03a9f4;
                font-weight: bold;
            }
            
            .sci {
                position: relative;
                display: flex;
                margin-top: 5px;
            }
            
            .sci li {
                list-style: none;
                margin: 12px;
            }
            
            .sci li a {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #2C5364;
                font-size: 2em;
                color: #faf7f7;
                text-decoration: none;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                transition: 0.7s;
            }
            
            .sci li a:hover {
                background: #03a9f4;
                color: #fff;
            }
        }
        .card-rg {
            width: 60%;
        }
        .card-rg img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        }
    }
    
    .left-inferior-card {
        width: 100%;
        height: 40%;
        flex-direction: row;
        display: flex;
        gap: 20px;

        .inf-card-lf {
            width: 60%;
        }
        .inf-card-lf img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        }

        .inf-card-rg {
            width: 40%;
            background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
            border-radius: 10px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        }

        .inf-card-rg h1 {
            font-family: 'mokoto';
            color: #faf7f7;
            padding: 28px 16px 8px;
        }

        .sci-techs {
            display: flex;
            list-style-type: none;
            justify-content: center;
        }

        .sci-techs img {
            max-width: 100px;
            padding: 16px;
        }
    }
}



/* Right-cards ocupando 30% da largura */
.right-cards {
    flex-basis: 30%; /* Define a largura em 30% */
    height: 100%; /* Ocupa toda a altura disponível */
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .superior-card {  
        width: 100%;
        height: 40%;
        border: 2px solid white;
        flex-direction: column;
    }
    
    .inferior-card {
        width: 100%;
        height: 60%;
        border: 2px solid white;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column; /* Empilha os cartões em telas menores */
    }

    .left-cards, .right-cards {
        flex-basis: 100%; /* Ambos os cartões ocupam 100% da largura */
        height: auto; /* Ajusta a altura automaticamente */
    }
}

